<div class="container">
  <div class="col-xs-4 col-xs-offset-0">
    <body>
    <p>
      Hello!
      <br><p>
      What’s your favorite song right now? Simple question, right? Imagine a place where music leaders around the globe can answer this question to the masses, thus promoting the very musicians that make this question possible. Welcome to Soundfriend, a new, fun and honest music discovery feed.
      <br><p>
      Our mission is to change the way people discover and share new music. With weekly recommendations from our expert contributors, we are building a stream of global music favorites for the whole world to listen, share, follow, explore, and learn.
      <br><p>
      Soundfriend has launched in October 2014 and works on an invitation-only base.
      <br><p><br>
      Happy listening!
      <br><p>
      Your Soundfriends
      <br>
    </p>
    <br>
  </body>
</div>
<p><br><br>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1">
    <!-- <div class="col-xs-3 col-xs-offset-5"> -->
      <%= image_tag '/images/sf.png', width: '400px', height: '400px', class: "logo-center img-responsive" %>
    </div>
  </div>
  </div>
<br><br><br>
<div class="title_info" >

    <center><b>Felix</b><br>
    Founder<br>
    <a href="https://twitter.com/flixpad">@flixpad</a><br>
    soundfriendfelix@gmail.com<br>
    </p>

    <p>
    <b>Beverly</b><br>
    Editor-in-Chief<br>
    <a href="">@DJBBCheck</a><br>
    soundfriendbev@gmail.com<br>
    </p>

    <p>
    <b>Jade</b><br>
    Community Manager<br>
    <a href="https://twitter.com/ladywhitham">@ladywhitham<br></a>
    soundfriendjade@gmail.com<br>
    </p>

    <p>
    <b>Hardy</b><br>
    Designer<br>
    <a href="https://twitter.com/HardySeiler">@HardySeiler<br></a>
    </p>
  </center>
</div>
