<div class="terms_content" style="width: 900px; margin: auto;">
<h1><center><b>Terms and Conditions</b></h1>
  <br>
  <center>Thankyou for creating an account with SoundFriend!
  By signing up for an account with SoundFriend you are agreeing to the following terms.</center>
  <br>

  <h2><li><b>Accounts</b></li></h2>
    <h3><ol><i>Deleting Accounts</i></ol></h3>
    You or SoundFriend may terminate this Agreement at any time and for any reason by giving Notice
    to the other party. We may suspend our Service to you at any time, with or without cause. Once
    terminated, we may permanently delete your account and all the data associated with it,
    including your emails from our Website. If you don’t log in to your account for 12 or more
    months, we may treat your account as "inactive" and permanently delete the account and all the data associated with it.
    <h3><ol><i>Changes</i></ol></h3>
    We may change any of the Terms by posting revised Terms of Use on our Website
    and/or by sending an email to the last email address you gave us. Unless you terminate
    your account within ten (10) days, the new Terms will be effective immediately and apply
    to any continued or new use of SoundFriend. We may change the Website,
    the Service, or any features of the Service at any time.
    <h3><ol><i>Account and Password </i></ol></h3>
    You’re responsible for keeping your account name and password confidential. You’re also
    responsible for any account that you have access to, whether or not you authorized the use.
    You’ll immediately notify us of any unauthorized use of your accounts. We’re not responsible
    for any losses due to stolen or hacked passwords. We don’t have access to your current password, and for security reasons,
    we may only reset your password.

  <h2><li><b>Users</b></li><h2>
    <h3><ol><i>Site Rules</i></ol></h3>
    You promise to follow these rules:
    1. Provide and publish original content
    2. To be a reasonable SoundFriend to the community!
    If you violate any of these rules, then we may suspend or terminate your account.
    <h3><ol><i>Privacy Policy</i></ol></h3>
    We may use and disclose your information according to our Our <a href="/pages/privacypolicy">Privacy Policy</a> will be treated as part of these Terms.
    <br>
    <br>
    <br>
</div>
